<%= form_for(@dream_session) do |f| %>
  <% if @dream_session.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@dream_session.errors.count, "error") %> prohibited this dream_session from being saved:</h2>

      <ul>
      <% @dream_session.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.hidden_field :user_id,:value => current_user.id  %>
  </div>

  <div class="actions">
    <%= f.submit 'Create Record', :class=>"btn btn-primary btn-sm" %>
      &nbsp;
      <%= link_to 'Back', dream_sessions_path %>
  </div>
<% end %>
