
<title>Dream sessions | FiTrack</title>
<div id="page-content-wrapper">
<div class="container"> 
  <h1 style="border-bottom: 1px solid #A6AAA9; color: #000000;">Dream Sessions</h1>

<p id="notice" align="center" class="text-muted"><%= notice %></p> 
<br>
<table class="table talbe-striped">
  <col width="20%">
  <col width="25%">
  <col width="25%">
  <col width="15%">
  <col width="15%">
  <thead>
    <tr>
      <th>Id</th>
      <th>Time started</th>
      <th>Time finished</th>
      <th>Total time </th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @dream_sessions.each do |dream_session| %>
      <tr>
        <td><%= dream_session.id %></td>
        <td>
           <%if dream_session.time_started==nil%>
            <a class="btn btn-primary btn-xs"href="/dream_sessions/<%=dream_session.id%>/start_session">Start Session</a>
          <%else%>
            <%= dream_session.time_started.to_formatted_s(:long_ordinal) %>
          <%end%>
        </td>
        <td>
          <%if dream_session.time_started==nil%>
            Not started
          <%elsif dream_session.time_finished == nil %>
            <a class="btn btn-primary btn-xs"href="/dream_sessions/<%=dream_session.id%>/finish_session">Finish Session</a>
          <%else%>
             <%= dream_session.time_finished.to_formatted_s(:long_ordinal) %>
          <%end%>
        </td>
        <td>
          <%if dream_session.time_started==nil%>
              
                  WAITING...
              <%elsif dream_session.time_finished == nil%>

                <% @diferencia=Time.diff(Time.now,dream_session.time_started)%>
                    <%= @diferencia[:hour]%>h. <%= @diferencia[:minute]%>m. <%= @diferencia[:second]%>s. 
               <%else%>
                 <% @diferencia=Time.diff(dream_session.time_finished,dream_session.time_started)%>
                    <%= @diferencia[:hour]%>h. <%= @diferencia[:minute]%>m. <%= @diferencia[:second]%>s.
                
               <%end%>
        </td>
        <td>
          <div class='btn-group'>
              <%= link_to 'Show', dream_session ,:class => 'btn btn-primary btn-xs'%>
               <%= link_to 'Destroy', dream_session, method: :delete, data: { confirm: 'Are you sure?' } ,:class => 'btn btn-danger btn-xs'%></td>
          </div>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<center>
  <%= link_to 'New Dream Session', new_dream_session_path ,:class => 'btn btn-primary btn-sm'%>
</center>
</div>
</div>