<%= form_for(@alarm) do |f| %>
  <% if @alarm.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@alarm.errors.count, "error") %> prohibited this alarm from being saved:</h2>

      <ul>
      <% @alarm.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

   <div class="field">
    <%= f.label :time %><br>
    <%= f.time_select :time %>
  </div>
  <div class="field">
    <%= f.label :monday %>
    <%= f.check_box :monday %>
    <br>
    <%= f.label :tuesday %>
    <%= f.check_box :tuesday %>
  <br>
    <%= f.label :wednesday %>
    <%= f.check_box :wednesday %>
<br>
    <%= f.label :thursday %>
    <%= f.check_box :thursday %>
<br>
    <%= f.label :friday %>
    <%= f.check_box :friday %>
<br>
    <%= f.label :saturday %>
    <%= f.check_box :saturday %>
<br>
    <%= f.label :sunday %>
    <%= f.check_box :sunday %>
  <br>
    <%= f.label :message %><br>
    <%= f.text_field :message %>
  <div class="field">
    <%= f.label :turn %><br>
    <%= f.check_box :turn %>
  </div>
  <div class="field">
    <%= f.hidden_field :user_id, :value => current_user.id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
