
<title>Alarms | FiTrack</title>

<div id="page-content-wrapper" style="margin-left:3%;">
  <div class="container"> 
<h1 style="border-bottom: 1px solid #A6AAA9; color: #000000;">Current Alarms</h1>
<p id="notice"><%= notice %></p>
<table class="table table-striped">

  <col width="30%">
  <col width="10%">
  <col width="20%">
  <col width="10%">
  <col width="30%">
    <thead>
    <tr>
      <th>Message</th>
      <th>Time</th>
      <th>Scheluded days</th>
      <th>Status</th>
      <th>Options</th>
      
    </tr>

  </thead>
  <tbody>
  <% @alarms.each do |alarm| %>
    
      <tr>
        <td><i><%= alarm.message %></i></td>

        <td>
          <%= alarm.time.strftime("%H:%M") %></td>
        <td>
          <p style="font-size:10px;">|
        <% if (alarm.monday) %>
            Monday | 
          <% end %>
        <% if (alarm.tuesday) %>
            Tuesday | 
           <% end %>
       <% if (alarm.wednesday) %>
            Wednesday | 
           <% end %>
         <% if (alarm.thursday) %>
            Thursday | 
           <% end %>
         <% if (alarm.friday) %>
            Frisday | 
           <% end %>
         <% if (alarm.saturday) %>
            Saturday | 
           <% end %>
        <% if (alarm.sunday) %>
            Sunday |
           <% end %>
           </td>
         </p>
        </td>
        
        <td><%if (alarm.turn==true) %>
                <strong>ON</strong>
            <% elsif (alarm.turn==false) %>
              <strong>OFF</strong>
              <%end %>
        </td>
        <td>
      <div class="btn btn-group">
       <%if alarm.turn==false%>
        <a href="/alarms/<%=alarm.id%>/turn_on" class="btn btn-success btn-sm">On</a>
        <% else %>
        <a href="/alarms/<%=alarm.id%>/turn_off" class='btn btn-danger btn-sm'>Off</a>
        <%end%>
        

          <%= link_to 'Show', alarm ,class:"btn btn-default  btn-sm"%>
          <%= link_to 'Edit', edit_alarm_path(alarm), class:"btn btn-primary btn-sm"%>
        <%= link_to 'Destroy', alarm, method: :delete, data: { confirm: 'Are you sure?' },class:"btn btn-danger btn-sm" %>
      </div>
    </td>
        <!--<%# scheduler = Rufus::Scheduler.new %>-->
        <!-- <%#scheduler.every '5s' do %>  -->
      </tr>
    <% end %>
</tbody>
</table>

<br>

<%= link_to 'New Alarm', new_alarm_path %>
    </div>
</div>