<p id="notice"><%= notice %></p>
<div id="page-content-wrapper">
<div class="container"> 
<p>
  <strong>Time:</strong>
  <%= @alarm.time %>
</p>

<p>
  <strong>Monday:</strong>
  <%= @alarm.monday %>
</p>

<p>
  <strong>Tuesday:</strong>
  <%= @alarm.tuesday %>
</p>

<p>
  <strong>Wednesday:</strong>
  <%= @alarm.wednesday %>
</p>

<p>
  <strong>Thursday:</strong>
  <%= @alarm.thursday %>
</p>

<p>
  <strong>Friday:</strong>
  <%= @alarm.friday %>
</p>

<p>
  <strong>Saturday:</strong>
  <%= @alarm.saturday %>
</p>

<p>
  <strong>Sunday:</strong>
  <%= @alarm.sunday %>
</p>

<p>
  <strong>Message:</strong>
  <%= @alarm.message %>
</p>

<p>
  <strong>Turn:</strong>
  <%= @alarm.turn %>
</p>

<%= link_to 'Edit', edit_alarm_path(@alarm) %> |
<%= link_to 'Back', alarms_path %>
</div>
</div>