
<div id="page-content-wrapper">
  <div class="container">
<p id="notice"><%= notice %></p>



          <h1 class="page-header">Listing Sessions</h1>

          <div class="row ">
            <div class="col-xs-6 col-sm-3 placeholder">
             <img class="img-responsive" src="assets/ciclismo.jpg" alt="Generic placeholder image" >

              <h4>Cycling</h4>
              <span class="text-muted">Something else</span>
            </div>
            <div class="col-xs-6 col-sm-3 placeholder">
              <img class="img-responsive" src="assets/pesasindex.jpg" alt="Generic placeholder image">
              <h4>Weight Lifting</h4>
              <span class="text-muted">Something else</span>
            </div>
            <div class="col-xs-6 col-sm-3 placeholder">
              <img class="img-responsive" src="assets/trote.jpg" alt="Generic placeholder image" width="200" height="200">
              <h4>Jogging</h4>
              <span class="text-muted">Something else</span>
            </div>
            </div>
            <br>

     <div class="row ">
<div class="table-responsive" style="margin-left=-15px">
  <table class="table table-striped">
  <thead>
    <tr>
      
      <th>Type session</th>
      <th>Burned calories</th>
      <th>Hearth rate</th>
      <th>Total time</th>
      <th>Time started</th>
      <th>Time finished</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @sessions.each do |session| %>
      <tr>
        
        <td><%= session.type_session.tipo %></td>
        <td><%= session.burned_calories %></td>
        <td><%= session.hearth_rate %></td>
        <td><%= session.total_time %></td>
        <td><%= session.time_started %></td>
        <td><%= session.time_finished %></td>
        <td><%= link_to 'Show', session %></td>
        <% if session.time_started == nil %>
          <td><a href="/fitness_sessions/<%=session.id%>/start">Start</a></td>
        <% elsif session.time_finished==nil %>
          <td><a href="/fitness_sessions/<%=session.id%>/end">End</a></td>
        <% else %>
          <td>Finished</td>
        <% end %>
        <td><%= link_to 'Destroy', session, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>
</div>



<br>
<br>
<br>
<%= link_to 'New Session', new_fitness_session_path, class:"btn btn-default btn-lg" %>

</div>
