<div id="page-content-wrapper">
  <div class="container">
<p id="notice"><%= notice %></p>


<p>
  <strong>User:</strong>
  <%= @session.user.name %>
</p>

<p>
  <strong>Type sessiongoer:</strong>
  <%= @session.type_sessiongoer_id %>
</p>

<p>
  <strong>Type session:</strong>
  <%= @session.type_session.tipo %>
</p>

<p>
  <strong>Burned calories:</strong>
  <%= @session.burned_calories %>
</p>

<p>
  <strong>Hearth rate:</strong>
  <%= @session.hearth_rate %>
</p>

<p>
  <strong>Total time:</strong>
  <%= @session.total_time %>
</p>

<p>
  <strong>Time started:</strong>
  <%= @session.time_started %>
</p>

<p>
  <strong>Time finished:</strong>
  <%= @session.time_finished %>
</p>


<%= link_to 'Edit', edit_fitness_session_path(@session),class:"btn btn-default"%> |
<%= link_to 'Back', fitness_sessions_path, class:"btn btn-default" %>

</div>
</div>