<head>
<title>Forgot your password | FiTrack</title>
</head>

<body>
	<div class="container">
		<h1 style="border-bottom: 1px solid #A6AAA9; color: #000000; text-align: left;">Forgot your password?</h1>
		<br>
		<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
		  <%= devise_error_messages! %>

		  <div class="field" style="padding-left:30px;">
		    <%= f.label :email %><br />
		    <%= f.email_field :email, autofocus: true, :size =>"50" , :placeholder => 'example@domain.com' %>
		  </div>
		  <br>

		  <div class="btn-group" style="padding-left:30px;">
		    <%= f.submit "Reset password" , :class=>"btn btn-danger"%>
		    <%= link_to "Sign up", new_registration_path(resource_name),:class=>"btn btn-default" %> 
		    <%= link_to "Sign in", new_session_path(resource_name), :class=>"btn btn-default"%>
  			
		  </div>
		<% end %>
		</div>
		<br>
</body>