 <p class="lead"><p>
              <strong>Steps:</strong>
              <%= @band_info.steps%>
            </p>

            <p>
              <strong>Calories:</strong>
              <%= @band_info.calories %>
            </p>

            <p>
              <strong>Latitude:</strong>
              <%= @band_info.lat %>
            </p>
            p>
              <strong>Long:</strong>
              <%= @band_info.long %>
            </p>


            <p>
              <strong>Time started:</strong>
              <%= @band_info.created_at %>
            </p>
            <p>
              <strong>Time updated:</strong>
              <%= @band_info.updated_at %>
            </p>
            <p>
              <strong>Id of User:</strong>
              <%= @band_info.user_id %>
            </p>
            <p>
              <strong>Id of Band:</strong>
              <%= @band_info.band_id %>
            </p>
            
        </div>