<head>
<title>Sign In | FiTrack</title>
</head>
<body>
<div class="container">
<div class="row">
    <div class="col-xs-6 ">
      <!--<img src="/assets/sign_in3.jpg" width="100%">-->
      <div class="col-md-offset-1">
         <h2 style="border-bottom: 1px solid #A6AAA9; color: #000000; text-align: left;">
         Be part of our journey towards a healthy life</h2>
         <br>
         <img src="/assets/sign_in3.jpg" width="100%">
         <h4 sytle="border-bottom: 0px solid #00000;">
           "Those who think they have not time for bodily exercise will sooner or later have to find time for illness."
         </h4>
         <h5 align="right"><i>Edward Stanley</i></h5>
      </div>

    </div>

    <div class="col-xs-5">
    <br>
    <h2 style="color: #000000;">  Sign In </h2>
    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <br>
      <div class="field">
        <%= f.label :email %><br />
        <%= f.email_field :email, autofocus: true ,placeholder: "example@email.com",class:"form-control input-lg"%>
      </div>
      <br>
      <br>
      <div class="field">
        <%= f.label :password %><br />
        <%= f.password_field :password, autocomplete: "off" ,class:"form-control input-lg"%>
      </div>
      <br>
      <% if devise_mapping.rememberable? -%>
        <div class="field">
          <%= f.check_box :remember_me %>
          <%= f.label :remember_me %>
        </div>
      <% end -%>
      
      <br>
      <div class="actions">
        <%= f.submit "Log in" ,class:"btn btn-success btn-lg"%>
      </div>
    <% end %>
    <br>
    <br>
    <%= render "devise/shared/links" %>
    </div>
</div>
</div>
<br>
</body>
