<%= form_for(@goal) do |f| %>
  <% if @goal.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@goal.errors.count, "error") %> prohibited this goal from being saved:</h2>

      <ul>
      <% @goal.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


<table class="table table-striped">
  
  <tr>
  <td>

  <div class="field">
    <%= f.label :type_goal_id %><br>
    <%= f.text_field :type_goal_id %>
  </div>

   <div class="field" align="center" style="padding-left:30px;" >
      <% TypeGoal.all.each do |brand|%>
      <br>
        <%= f.radio_button :type_goal_id, brand.id , :checked =>true%>
      <%= f.label :type_goal_id, ""+brand.tip%>
        <br>
      <%end%>
      </div>
  </td>
  </tr>
  <tr>
  <td>
  <div class="field">
    <%= f.label :frequency %><br>
    <%= f.text_field :frequency %>
  </div>
  </td>
  </tr>
  <tr>
  <td>
  <div class="field">
    <%= f.label :goal %><br>
    <%= f.number_field :goal %>
  </div>
   </div>
  </td>
  </tr>
 
  <tr>
  <td>
  <div class="field">
    <%= f.label :time_started %><br>
    <%= f.date_select :time_started %>
  </div>
   </div>
  </td>
  </tr>
  <tr>
  <td>
  <div class="field">
    <%= f.label :time_finished %><br>
    <%= f.date_select :time_finished %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
  </div>
  </td>
  </tr>
  

</table>
<% end %>
