<%= form_for(@goal) do |f| %>
  <% if @goal.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@goal.errors.count, "error") %> prohibited this goal from being saved:</h2>

      <ul>
      <% @goal.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


<table class="table table-striped">
  <tr>
  <td>
  <div class="field">
    <%= f.label :user_id %><br>
    <%= f.number_field :user_id %>
  </div>
  </td>
  </tr>
  <tr>
  <td>

  <div class="field">
    <%= f.label :type %><br>
    <%= f.text_field :type %>
  </div>
  </td>
  </tr>
  <tr>
  <td>
  <div class="field">
    <%= f.label :burned_calories %><br>
    <%= f.number_field :burned_calories %>
  </div>
  </td>
  </tr>
  <tr>
  <td>
  <div class="field">
    <%= f.label :hearth_rate %><br>
    <%= f.number_field :hearth_rate %>
  </div>
   </div>
  </td>
  </tr>
  <tr>
  <td>
  <div class="field">
    <%= f.label :total_time %><br>
    <%= f.time_select :total_time %>
  </div>
   </div>
  </td>
  </tr>
  <tr>
  <td>
  <div class="field">
    <%= f.label :time_started %><br>
    <%= f.datetime_select :time_started %>
  </div>
   </div>
  </td>
  </tr>
  <tr>
  <td>
  <div class="field">
    <%= f.label :time_finished %><br>
    <%= f.datetime_select :time_finished %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
  </div>
  </td>
  </tr>
  

</table>
<% end %>
