
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Goals | FiTrack</title>


    <!-- Bootstrap Core CSS -->
    <link href="assets/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="assets/simple-sidebar.css" rel="stylesheet">


 
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
  
 

   
    
</head>

<body>

    
<div id="page-content-wrapper">
<div class="container"> 
      <h1 style="border-bottom: 1px solid #A6AAA9; color: #000000;">Goals</h1>
      <br>

      <!-- Three columns of text below the carousel -->

      <div class="row">
        <% @goals.each do |tgoal| %>
      
        <div class="col-lg-4" align="center">
        
          <img class="img-circle" src="<%=tgoal.type_goal.img%>" alt="Generic placeholder image" width="140" height="140">
          <!>
          <h2><td><%= tgoal.type_goal.tip%></td></h2>
          <p><strong>Goal: </strong><%= tgoal.goal %></p>
          <p><strong>Frecuency: </strong><%= tgoal.frequency %></p>
          <%= link_to 'Show', tgoal ,class:"btn btn-default"%>
          <%if tgoal.automatic_goal ==false%>
          <%= link_to 'Destroy', tgoal, method: :delete, data: { confirm: 'Are you sure?' },class:"btn btn-danger btn-sm" %>
          <%end%>
        </div>
       
      
      <% end %>

      </div>
      


            
        
          <br>

               
                   <%= link_to 'New Goal', new_goal_path, class:"btn btn-default btn-lg" %>
                    <p class="pull-right"><a href="#">Back to top</a></p>
                


                <!--<%= link_to 'New Goal', new_goal_path %>-->
                
</div>
</div>

</body>
</html>

