<p id="notice"><%= notice %></p>

 <link href="assets/bootstrap.min.css" rel="stylesheet" >

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
    <meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">


<title>Goal | FiTrack</title>
    <div id="page-content-wrapper" style="margin-left:3%;">
    <div class="container"> 
    <h1 style="border-bottom: 1px solid #A6AAA9; color: #000000;">Goal</h1>  
<div class="row featurette" style="margin-top:-1%;">
        <div class="col-md-7" >
          <h2 class="featurette-heading">Oh yeah, it's that good. <span class="text-muted">See for yourself.</span></h2>
          <p class="lead"><p>
              <strong>Type:</strong>
              <%= @goal.type_goal.tip%>
            </p>

            <p>
              <strong>Frequency:</strong>
              <%= @goal.frequency %>
            </p>

            <p>
              <strong>Goal:</strong>
              <%= @goal.goal %>
            </p>

             <p>
              <strong>Progress:</strong>
              <%= @goal.progress %>
            </p>
             
            
              <button class="btn btn-primary" data-toggle="modal" data-target=".bs-example-modal-sm">COMPLETE</button>

                <div class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
                  <div class="modal-dialog modal-sm">
                    <div class="modal-content">
                      Congratulations...
                    </div>
                  </div>
                </div>

                
            

            <p>
              <strong>Time started:</strong>
              <%= @goal.time_started %>
            </p>

            <p>
              <strong>Time finished:</strong>
              <%= @goal.time_finished %>
            </p></p>
        </div>
        <div class="col-md-5" style="margin-top:10%;">
          <img class="featurette-image img-responsive center-block" src="<%= @goal.type_goal.img%>" alt="Generic placeholder image">
        </div>
      </div>


<%= link_to 'Edit', edit_goal_path(@goal), class:"btn btn-default" %> |
<%= link_to 'Back', goals_path, class:"btn btn-default" %>

    </div>
  </div>

