<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @goal.user_id %>
</p>

<p>
  <strong>Type:</strong>
  <%= @goal.type_id %>
</p>

<p>
  <strong>Frequency:</strong>
  <%= @goal.frequency %>
</p>

<p>
  <strong>Goal:</strong>
  <%= @goal.goal %>
</p>



<p>
  <strong>Time started:</strong>
  <%= @goal.time_started %>
</p>

<p>
  <strong>Time finished:</strong>
  <%= @goal.time_finished %>
</p>

<%= link_to 'Edit', edit_goal_path(@goal) %> |
<%= link_to 'Back', goals_path %>
