<!DOCTYPE html>
<html>
<head>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>  
  <%= csrf_meta_tags %>
    <link rel="shortcut icon" href="assets/logo.png" type="image/png">


   <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

  <link rel="stylesheet" type="text/css" href="blogstyle.scss">
   <script src="assets/ie-emulation-modes-warning.js"></script>
   <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>

<link href="assets/bootstrap.css" rel="stylesheet">
<link href="assets/bootstrap-switch.css" rel="stylesheet">
<script src="javascript/bootstrap-switch.js"></script>
    <!-- Bootstrap Core CSS -->
    <link href="assets/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="assets/simple-sidebar.css" rel="stylesheet">
    <%= javascript_include_tag :defaults %><!--para el log out-->

    <%= javascript_include_tag :defaults %>


 
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
  </head>


            <% if user_signed_in? %>
            <header>
                      <nav class="navbar navbar-inverse navbar-fixed-top">
                      <div class="container">
                        <div class="navbar-header">
                          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                          </button>
                              <a href="#menu-toggle"  id="menu-toggle" class="navbar-brand">
                                           <span class="glyphicon glyphicon-menu-hamburger" aria-hidden="true"></span>
                                            </a>
                          
                          <a class="navbar-brand" href="/user/welcome">FiTrack</a>
                        </div>
                        <div id="navbar" class="collapse navbar-collapse">
                          <ul class="nav navbar-nav navbar-left">
                                  
                                  <li><a href="/user/welcome">Fitness Tracker</a>
                                  </li>
                                  
                                  <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="/">
                               Bands <span class="caret"></span>
                              </a>
                                    <ul class="dropdown-menu">
                                        <li><a href="https://www.microsoft.com/Microsoft-Band/en-us">Microsoft Band</a></li>
                                        <li><a href="https://www.fitbit.com/chargehr">FitBit Charge HR</a></li>
                                     </ul>
                                  </li>
                                  <li class="dropdown">
                                      <a class="dropdown-toggle" data-toggle="dropdown" href="/" >
                                  Disciplines <span class="caret"></span>
                                  </a>
                                    <ul class="dropdown-menu">
                                          <li><a href="/jogging">Jogging</a></li>
                                          <li><a href="/cycling">Cycling</a></li>
                                          <li><a href="/weight_lifting">Weight Lifting</a></li>
                                    </ul>
                                  </li>
                                   <li class="dropdown">
                              
                            
                                </li>
                              </ul>
                              <ul class="nav navbar-nav navbar-right">
                                  
                                  <a class="navbar-brand" href="/user/profile"><%= current_user.name %> <%= current_user.last_name %></a>
                              </ul>
                        </div>
                      </div>
                    </nav>


    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script src="assets/bootstrap.min.js"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="assets/js/ie10-viewport-bug-workaround.js"></script>
</header>
            <div id="wrapper">
               <div id="sidebar-wrapper">
                 <ul class="sidebar-nav">
                <li class="sidebar-brand">
                    <a href="/user/welcome">
                        Start
                    </a>
                </li>
                <li>
                    <a href="/bands">Band</a>
                </li>
                <li>
                    <a href="#">Alarm</a>
                </li>
                <li>
                    <a href="/fitness_sessions">Sessions</a>
                </li>
                <li>
                    <a href="/goals">Goals</a>
                </li>
                <li>
                    <a href="/daily_tracking">Daily Tracking</a>
                </li>
                <li>
                    <a href="/dream_sessions">Dream Sessions</a>
                </li>
                 
                
                    <div class="sidebar-divider hidden-xs hidden-sm">
                <%if current_user.has_role? :admin%>
                    <li>
                      <a href="/users">Users Management</a>
                     </li>
                <%end%>
                <li>
                    <%= link_to('Sign out', destroy_user_session_path, :method => :delete) %> 
                </li>
                </div>
            </ul>
         </div>

        
        <script src="js/bootstrap.min.js"></script>
        <script>

       $("#menu-toggle").click(function(e) {
        e.preventDefault();
        $("#wrapper").toggleClass("toggled");
         });
    </script>

    
      </div>
      <%= yield %>
    
 <%else%>

 <header>
                      <nav class="navbar navbar-inverse navbar-fixed-top">
                      <div class="container">
                        <div class="navbar-header">
                          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                          </button>
                              
                          
                          <a class="navbar-brand" href="/">FiTrack</a>
                        </div>
                        <div id="navbar" class="collapse navbar-collapse">
                          <ul class="nav navbar-nav navbar-left">
                                  
                                  <li><a href="/">Fitness Tracker</a>
                                  </li>
                                  
                                  <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="/">
                               Bands <span class="caret"></span>
                              </a>
                                    <ul class="dropdown-menu">
                                        <li><a href="https://www.microsoft.com/Microsoft-Band/en-us">Microsoft Band</a></li>
                                        <li><a href="https://www.fitbit.com/chargehr">FitBit Charge HR</a></li>
                                     </ul>
                                  </li>
                                  <li class="dropdown">
                                      <a class="dropdown-toggle" data-toggle="dropdown" href="/" >
                                  Disciplines <span class="caret"></span>
                                  </a>
                                    <ul class="dropdown-menu">
                                          <li><a href="/jogging">Jogging</a></li>
                                          <li><a href="/cycling">Cycling</a></li>
                                          <li><a href="/weight_lifting">Weight Lifting</a></li>
                                    </ul>
                                  </li>
                                   <li class="dropdown">
                              
                            
                                </li>
                              </ul>
                              <ul class="nav navbar-nav navbar-right">
                                  <li><a href="/user/welcome">Sign In</a>
                                  
                                  </li>
                                  <form action="/users/sign_up" class="navbar-form navbar-left" role="signup">
                                    <button class="btn btn-default" >Sign Up</button>
                                  </form>
                              </ul>
                        </div>
                      </div>
                    </nav>


    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script src="assets/bootstrap.min.js"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>
    

 
</header>

    <%= yield %>

            <% end %>

<div class="wrapper"> 
<footer class="modal-footer" style="position: fixed; bottom: 0px; padding-top:10px; padding-right:10px; background:#ffffff;">
        <p class="text-muted">Copyright © 2015 FiTrack. All rights reserved. | <a style="color: #000000;" href="/terms_of_use">Terms of Use</a> | <a style="color: #000000;" href="/">Updated Privacy Policy</a> | <a style="color: #000000;"  href="/contact_us">Contact Us</a> | EN (US)</p>
     
</footer>
</div>
</html>


<!-- main view main sign in nav bar left -->
